body {
    background: rgb(231,35,52);
    background: linear-gradient(#e72334, white);
    background-size: cover;
    background-attachment: fixed;
}

#taxiMap {
    height: 700px;
    width: 75%;
    margin-top: 10px;
}

#north {
    background-color: red;
    color: white;
    height: 75px;
    width: 150px;
}

#north:hover, #north:focus{
    background-color: rgb(252, 94, 94);
}

#west {
    background-color: blue;
    color: white;
    height: 75px;
    width: 150px;
}

#west:hover, #west:focus{
    background-color: rgb(72, 72, 255);
}

#northeast {
    background-color: purple;
    color: white;
    height: 75px;
    width: 150px;
}

#northeast:hover, #northeast:focus{
    background-color: rgb(151, 2, 151);
}

#east {
    background-color: green;
    color: white;
    height: 75px;
    width: 150px;
}

#east:hover, #east:focus{
    background-color: rgb(1, 161, 1);
}

#central {
    background-color: orange;
    color: white;
    height: 75px;
    width: 150px;
}

#central:hover, #central:focus{
    background-color: rgb(253, 182, 49);
}

#toggle{
    background-color: #3f92cf;
    color: white;
    height: 75px;
    width: 150px;
    margin-left: 200px;
}

#toggle:hover{
    background-color:#5b9fcf;
}

#noTaxis {
    margin-top: 2px;
}

#noTaxis, #perRegion, #clock {
    color: black;
    font-weight: bold;
    width: 200px;
    padding: 13px 10px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

#mapContainer{
    display: flex;
    justify-content: center;
}

#btnContainer{
    display: flex;
    justify-content: center;
}

#legendContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:not(#central, #toggle){
    border-right: none;
}

button{
    transition-duration: 0.4s;
}

button:hover{
    cursor: pointer;
}