body {
    background: rgb(231,35,52);
    background: linear-gradient(180deg, rgba(231,35,52,1) 0%, rgba(247,247,247,1) 100%);
    background-size: cover;
    background-attachment: fixed;
}

#taxiMap {
    height: 700px;
    width: 75%;
    margin-top: 20px;
}

#north {
    background-color: red;
    color: white;
    height: 75px;
    width: 150px;
}

#west {
    background-color: blue;
    color: white;
    height: 75px;
    width: 150px;
}

#northeast {
    background-color: purple;
    color: white;
    height: 75px;
    width: 150px;
}

#east {
    background-color: green;
    color: white;
    height: 75px;
    width: 150px;
}

#central {
    background-color: orange;
    color: white;
    height: 75px;
    width: 150px;
}

#toggle{
    background-color: #3f92cf;
    color: white;
    height: 75px;
    width: 150px;
    margin-left: 700px;
}

#noTaxis {
    color: black;
    font-weight: bold;
    width: 200px;
    padding: 15px 10px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

#perRegion {
    color: black;
    font-weight: bold;
    width: 200px;
    padding: 15px 10px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

#clock {
    color: black;
    font-weight: bold;
    width: 200px;
    padding: 15px 10px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
}

#mapContainer{
    display: flex;
    justify-content: center;
}

#btnContainer{
    display: flex;
    justify-content: center;
}

#legendContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}